/* .header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: antiquewhite;
}

.navbar-nav{
    position: -webkit-sticky;
    top: 20;
}

.navbar-nav navbar-collapse justify-content-end{
    position: absolute;
    top: 40;
} */